.icon-float {
	position: fixed;
    background-color: green;
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    padding: 1px;
    bottom: 50px;
    right: 50px;
    align-items: center;
}

.whatsapp-icon {
	margin-top:10px;
}
